.layout-web main {
    margin-top: 80px;
}

.g_contenedor_pagina {
    background-color: var(--color-fondo-pagina);
}

.g_container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.g_centrar_pagina {
    margin: 0 auto;
    max-width: var(--ancho-centrar-pagina);
    width: 100%;
}

.g_pading_pagina {
    padding: 10px;
}

.g_gap_pagina {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.g_margin_top_40 {
    margin-top: 40px;
}

/*GRID PAGINA COLUMNA*/
.g_grid_pagina_2_columnas {
    width: 100%;
    display: grid;
    grid-template-areas: "g_grid_columna_1 g_grid_columna_2";
    grid-template-columns: 70% 30%;
    /*gap: 15px;*/
}

.g_grid_pagina_2_columnas .g_grid_columna_1 {
    grid-area: g_grid_columna_1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.g_grid_pagina_2_columnas .g_grid_columna_2 {
    grid-area: g_grid_columna_2;
}

.g_contenedor_columna {
    margin: 70px 0px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.g_encabezado {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.g_encabezado h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: var(--color-negro);
}

.g_encabezado h2 span {
    color: var(--color-verde);
}

.g_encabezado p {
    font-size: 18px;
    color: var(--color-negro);
    line-height: 1.6;
}

@media (max-width: 1024px) {

    .g_grid_pagina_2_columnas {
        grid-template-areas: "g_grid_columna_1"
            "g_grid_columna_2";
        grid-template-columns: 100%;
        grid-gap: 10px;
    }

    .g_contenedor_columna {
        margin: 40px 0px;
        gap: 40px;
    }

    .g_encabezado h2 {
        line-height: 35px;
    }
}

@media (max-width: 700px) {

    .g_gap_pagina {
        gap: 20px;
    }

    .g_margin_top_40 {
        margin-top: 20px;
    }

}