/*CONTENEDOR LAYOUT GENERAL*/
.contenedor_layout_general {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    min-height: 100vh;
}

/*CONTENEDOR LAYOUT PAGINA*/
.contenedor_layout_pagina {
    margin-left: 80px;
    transition: margin-left .4s ease-in-out;
    width: 100%;
}

/*CONTENIDO LAYOUT PAGINA*/
.contenido_layout_pagina {
    margin-top: var(--alto-header-admin);
    min-height: calc(100% - var(--alto-header-admin));
}

.centrar_pagina {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.contenido_pagina {
    padding: 10px;
}

@media (min-width: 900px) {

    /*CONTENEDOR LAYOUT PAGINA*/
    .contenedor_layout_pagina.estilo_contenedor_layout_pagina {
        margin-left: calc(var(--ancho-sidebar-admin-item) + var(--ancho-sidebar-admin-menu));
    }

}

@media (max-width: 900px) {

    /*CONTENEDOR LAYOUT PAGINA*/
    .contenedor_layout_pagina {
        margin-left: 0px;
    }

    .centrar_pagina {
        padding: 10px;
    }

}